@use '../Utils/styles.scss';

.soil-prop-container {
    height: 100%;
}

.inputs-container {
    display: flex;
    align-content: space-around;
    width: max-content;
    margin: auto;
    margin-top: 10%;
}

.soil-properties {
    @include styles.outlined;
    padding: 10px;
    width: max-content;
}
