@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";


html, body {
    max-width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

$utilities: map-merge(
  $utilities,
  (
    "viewport-height": map-merge(
      map-get($utilities, "viewport-height"),
      (
	values: map-merge(
          map-get(map-get($utilities, "viewport-height"), "values"),
          (95: 95%),
        ),
      ),
    ),
  )
);
$bundle-1-color: #ff0000a0;
$bundle-2-color: #ffff40;
$bundle-3-color: #0000ff80;
$bundle-4-color: #00ff00a0;
$bundle-5-color: #ff00ffa0;
$table-variants: map-merge(
    $table-variants,
    ("bundle-1":    $bundle-1-color,
     "bundle-2":    $bundle-2-color,
     "bundle-3":       $bundle-3-color,
     "bundle-4":    $bundle-4-color,
     "bundle-5":     $bundle-5-color,
     "bundle-1-non-rec":    shift-color($bundle-1-color, $table-bg-scale),
     "bundle-2-non-rec":    shift-color($bundle-2-color, $table-bg-scale),
     "bundle-3-non-rec":       shift-color($bundle-3-color, $table-bg-scale),
     "bundle-4-non-rec":    shift-color($bundle-4-color, $table-bg-scale),
     "bundle-5-non-rec":     shift-color($bundle-5-color, $table-bg-scale),
    )
);

$enable-smooth-scroll: true;
$position-values: (
    "5": 5%
);

@import 'bootstrap/scss/bootstrap.scss';
@import url("bootstrap-icons/font/bootstrap-icons.css");

.barchart {
    max-width: 1000px;
    //min-width: 500px;
    width: 100%;
    height: 50vh;
}
