$bundle-1-color: rgb(255, 46, 23);
$bundle-2-color: rgb(255, 215, 80);
$bundle-3-color: rgb(0, 185, 242);
$bundle-4-color: rgb(21, 166, 85);
$bundle-5-color: rgb(145, 105, 172);

$bundle-color-map: (
    1: $bundle-1-color,
    2: $bundle-2-color,
    3: $bundle-3-color,
    4: $bundle-4-color,
    5: $bundle-5-color,
);
